/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Nav Bar CSS  */

 .container_1 {
   width: 80%;
   margin: 0 auto;
 }

 .main_header {
   background: #55d6aa;
   border-radius: 5px;
 }

 .main_header::after {
   content: ' ';
   display: table;
   clear: both;
 }

 .logo {
   float: left;
   padding: 10px 0;
   width: 12%;
   height: 12%;
 }

 nav {
   float: right;
 }

 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 23px;
   position: relative;
 }

 nav ul > li > a {
   color: #444;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
 }

 nav ul > li > a:hover {
   color: #000;
 }

 nav ul > li > a::before {
   content: '';
   display: block;
   height: 3px;
   width: 0%;
   background-color: #444;
   position: absolute;
   top: 0;
   transition: all ease-in-out 250ms;
 }

 nav ul > li > a:hover::before {
   width: 100%;
 }





 /* Table CSS */


 table {
   margin-top: 2%;
  margin-left: 10px;
  width: 60%;
  /* border-spacing: 5px;  */
}

th {
  text-align: left;
  background: #7FFFD4;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  transition: all ease-in-out 250ms;
}

td > a {
  text-decoration: none;
  color: black;
}

td > a:hover {
  transition: all ease-in-out 250ms;
  text-decoration: underline blue;
  color: black;
}

td:hover {
  background-color: #B0C4DE;
}

tr:nth-child(even) {
  background-color: #FFFAF0;
}

tr:nth-child(odd) {
  background-color: #D3D3D3;
}

/* Edit player css  */

 /* * {
  box-sizing: border-box;
} */

 input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.creation {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
